.CreateTodoButton {
  padding:1rem;
  color: var(--white);
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 8px;
  inline-size: fit-content;
  font-weight: 500;
  will-change: transform, background;
  transition: transform 0.2s ease-in-out, background 0.2s ease-in-out;
}

.CreateTodoButton:active {
  transform: scale(0.9);
}

.bg-secondary {
  background-color: var(--secondary);
}

.bg-contrast2 {
  background-color: var(--contrast2);
}