body {
  margin: 0;
  padding: 0;
  background: var(--primary);
  color: var(--white);
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}

:root {
  --primary: #120f54;
  --secondary: #370397;
  --contrast1: #00ff66;
  --contrast2: #2851e3;
  --contrast3: #616161;
  --white: #ffffff;
}